body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

h1 {
    background-color: beige;
}

ul li {
   list-style-type: square; 
   padding: 5px;
   color: brown;
}